
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgress
      DB_PASSWORD: 12345
      DB_NAME: postgress
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgress
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: postgress
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./store/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgress"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-data: